<div class="pre-footer">
	<span>{{>icons/blog/footer}}</span>
	<p class="pre-footer-text">
		<a href="https://aragon.one/" target="_blank" class="pink">Aragon One</a> is a company that encompasses the foundational team working on the <a href="https://aragon.org/" target="_blank" class="pink">Aragon Project</a>
	</p>
</div>
<div class="footer-section">
  <div class="section-container">
  <div class="footer-container">
    <div class="footer-item first-footer-item">
        <a href="https://aragon.one/">
					<img class="footer-logo-img" src="https://blog.aragon.one/assets/footer/logo.svg"/>
        </a>
    </div>
    <div class="footer-item">
			<p class="title">ENJOY</p>
      <a href="https://aragon.chat/" target="_blank">CHAT WITH US</a>
      <a href="https://monthly.aragon.org/newsletter/">SUSCRIBE OUR NEWSLETTER</a>
      <a href="https://aracon.one/">JOIN US AT ARACON</a>
    </div>
    <div class="footer-item">
      <p class="title">EXPLORE</p>
      <a href="https://forum.aragon.org/" target="_blank">VISIT ARAGON FORUM</a>
      <a href="https://wiki.aragon.org/jobs/" target="_blank">BROWSE JOB OPENINGS</a>
      <a href="https://wiki.aragon.org/" target="_blank">EXPLORE ARAGON WIKI</a>
    </div>
    <div class="footer-item mobile-full">
      <p class="title">FOLLOW</p>
      <div class="footer-box top-footer-box">
        <a href="https://github.com/aragon" target="_blank"><img class="footer-logo-icon rounded-icon" src="https://blog.aragon.one/assets/footer/github.svg"/></a>
				<a href="https://www.youtube.com/channel/UCO7cIHWJeLlfK68F78e0Grw" target="_blank"><img class="footer-logo-icon" src="https://blog.aragon.one/assets/footer/youtube.svg"/></a>
				<a href="https://twitter.com/AragonOneTeam" target="_blank"><img class="footer-logo-icon rounded-icon" src="https://blog.aragon.one/assets/footer/twitter.svg"/></a>
      </div>
    </div>
  </div>
  </div>
</div>
