<ul class="nav-list">
	{{#foreach navigation}}
	<li class="nav-list-item">
		<a href="{{url absolute="true"}}" class="nav-link{{#if current}} nav-link-current{{/if}}">{{label}}</a>
	</li>
	{{/foreach}}
</ul>