<div class="post-share">
	<a class="twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
	onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">{{>icons/social/twitter}}</a>
</div>
