{{!-- Step one — remove brackets "{{!‐‐" and "‐‐}}" to use icon --}} 
{{!-- Step two — the # for each href value with your own profile links --}}
{{!-- Information — Facebook and Twitter use the admin dashboard --}}

{{! RSS }}
{{!-- <a href="/rss">{{>icons/social/rss}}</a> --}}
{{! Airbnb }}
{{!-- <a href="#">{{>icons/social/airbnb}}</a> --}}
{{! AngelList }}
{{!-- <a href="#">{{>icons/social/angellist}}</a> --}}
{{! Behance }}
{{!-- <a href="#">{{>icons/social/behance}}</a> --}}
{{! Big Cartel }}
{{!-- <a href="#">{{>icons/social/bigcartel}}</a> --}}
{{! Bitbucket }}
{{!-- <a href="#">{{>icons/social/bitbucket}}</a> --}}
{{! Blogger }}
{{!-- <a href="#">{{>icons/social/blogger}}</a> --}}
{{! Buffer }}
{{!-- <a href="#">{{>icons/social/buffer}}</a> --}}
{{! CodePen }}
{{!-- <a href="#">{{>icons/social/codepen}}</a> --}}
{{! Dailymotion }}
{{!-- <a href="#">{{>icons/social/dailymotion}}</a> --}}
{{! DeviantArt }}
{{!-- <a href="#">{{>icons/social/deviantart}}</a> --}}
{{! Diaspora }}
{{!-- <a href="#">{{>icons/social/diaspora}}</a> --}}
{{! Digg }}
{{!-- <a href="#">{{>icons/social/digg}}</a> --}}
{{! Discord }}
{{!-- <a href="#">{{>icons/social/discord}}</a> --}}
{{! Discourse }}
{{!-- <a href="#">{{>icons/social/discourse}}</a> --}}
{{! Disqus }}
{{!-- <a href="#">{{>icons/social/disqus}}</a> --}}
{{! Dribbble }}
{{!-- <a href="#">{{>icons/social/dribbble}}</a> --}}
{{! Dropbox }}
{{!-- <a href="#">{{>icons/social/dropbox}}</a> --}}
{{! Flickr }}
{{!-- <a href="#">{{>icons/social/flickr}}</a> --}}
{{! Foursquare }}
{{!-- <a href="#">{{>icons/social/foursquare}}</a> --}}
{{! GitHub }}
{{!-- <a href="#">{{>icons/social/github}}</a> --}}
{{! GitLab }}
{{!-- <a href="#">{{>icons/social/gitlab}}</a> --}}
{{! Google+ }}
{{!-- <a href="#">{{>icons/social/googleplus}}</a> --}}
{{! Gumtree }}
{{!-- <a href="#">{{>icons/social/gumtree}}</a> --}}
{{! Hipchat }}
{{!-- <a href="#">{{>icons/social/hipchat}}</a> --}}
{{! Houzz }}
{{!-- <a href="#">{{>icons/social/houzz}}</a> --}}
{{! Instagram }}
{{!-- <a href="#">{{>icons/social/instagram}}</a> --}}
{{! InVision }}
{{!-- <a href="#">{{>icons/social/invision}}</a> --}}
{{! Kickstarter }}
{{!-- <a href="#">{{>icons/social/kickstarter}}</a> --}}
{{! Last.fm }}
{{!-- <a href="#">{{>icons/social/lastfm}}</a> --}}
{{! Linkedin }}
{{!-- <a href="#">{{>icons/social/linkedin}}</a> --}}
{{! Medium }}
{{!-- <a href="#">{{>icons/social/medium}}</a> --}}
{{! Meetup }}
{{!-- <a href="#">{{>icons/social/meetup}}</a> --}}
{{! Messenger }}
{{!-- <a href="#">{{>icons/social/messenger}}</a> --}}
{{! npm }}
{{!-- <a href="#">{{>icons/social/npm}}</a> --}}
{{! PayPal }}
{{!-- <a href="#">{{>icons/social/paypal}}</a> --}}
{{! Periscope }}
{{!-- <a href="#">{{>icons/social/periscope}}</a> --}}
{{! Pinboard }}
{{!-- <a href="#">{{>icons/social/pinboard}}</a> --}}
{{! Pinterest }}
{{!-- <a href="#">{{>icons/social/pinterest}}</a> --}}
{{! Pocket }}
{{!-- <a href="#">{{>icons/social/pocket}}</a> --}}
{{! Product Hunt }}
{{!-- <a href="#">{{>icons/social/producthunt}}</a> --}}
{{! Quora }}
{{!-- <a href="#">{{>icons/social/quora}}</a> --}}
{{! Reddit }}
{{!-- <a href="#">{{>icons/social/reddit}}</a> --}}
{{! Shopify }}
{{!-- <a href="#">{{>icons/social/shopify}}</a> --}}
{{! Skype }}
{{!-- <a href="#">{{>icons/social/skype}}</a> --}}
{{! Slack }}
{{!-- <a href="#">{{>icons/social/slack}}</a> --}}
{{! Snapchat }}
{{!-- <a href="#">{{>icons/social/snapchat}}</a> --}}
{{! SoundCloud }}
{{!-- <a href="#">{{>icons/social/soundcloud}}</a> --}}
{{! Spotify }}
{{!-- <a href="#">{{>icons/social/spotify}}</a> --}}
{{! Strava }}
{{!-- <a href="#">{{>icons/social/strava}}</a> --}}
{{! Stack Overflow }}
{{!-- <a href="#">{{>icons/social/stackoverflow}}</a> --}}
{{! Telegram }}
{{!-- <a href="#">{{>icons/social/telegram}}</a> --}}
{{! Tinder }}
{{!-- <a href="#">{{>icons/social/tinder}}</a> --}}
{{! Trello }}
{{!-- <a href="#">{{>icons/social/trello}}</a> --}}
{{! Tumblr }}
{{!-- <a href="#">{{>icons/social/tumblr}}</a> --}}
{{! Twilio }}
{{!-- <a href="#">{{>icons/social/twilio}}</a> --}}
{{! Twitch }}
{{!-- <a href="#">{{>icons/social/twitch}}</a> --}}
{{! Unsplash }}
{{!-- <a href="#">{{>icons/social/unsplash}}</a> --}}
{{! Upwork }}
{{!-- <a href="#">{{>icons/social/upwork}}</a> --}}
{{! WhatsApp }}
{{!-- <a href="#">{{>icons/social/whatsapp}}</a> --}}
{{! Vimeo }}
{{!-- <a href="#">{{>icons/social/vimeo}}</a> --}}
{{! vk }}
{{!-- <a href="#">{{>icons/social/vk}}</a> --}}
{{! Xbox }}
{{!-- <a href="#">{{>icons/social/xbox}}</a> --}}
{{! YouTube }}
{{!-- <a href="#">{{>icons/social/youtube}}</a> --}}