<?xml version="1.0" encoding="UTF-8"?>
<svg width="103px" height="119px" viewBox="0 0 103 119" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>Group 6</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="-8.04222442%" y1="-7.91455703%" x2="-23.1350005%" y2="106.971884%" id="linearGradient-1">
            <stop stop-color="#FA8B6A" offset="0%"></stop>
            <stop stop-color="#EF6590" offset="100%"></stop>
            <stop stop-color="#EE6293" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="A4-Copy-41" transform="translate(-353.000000, -225.000000)">
            <g id="Group-6" transform="translate(353.000000, 225.000000)">
                <g id="Group-6-Copy-2">
                    <g id="Group-5">
                        <g id="Group-2" transform="translate(90.635965, 39.036244)" fill="#363636" opacity="0">
                            <g id="Group-3">
                                <g id="Group">
                                    <g id="Group-14">
                                        <polygon id="Path-36" points="1.30379669 10.4574105 0.173698171 0.980509154 3.87966567 0.310238252"></polygon>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g id="Group-4" transform="translate(1.378585, 18.036244)" stroke="#FFFFFF">
                            <polyline id="Path-9" points="90.3773303 32.0841742 85.8908705 27.8140445 83.7244264 25.5105025 79.1948858 23.2314662 69.5753699 23.8746469"></polyline>
                            <path d="M32.2980868,83.9565631 L49.9737094,63.7149918" id="Path-11"></path>
                            <path d="M49.333652,64.425659 L49.333652,96.4066262" id="Path-12"></path>
                            <polyline id="Path-10" points="85.8169216 27.7895387 75.4260321 27.7895387 52.7801147 65.4303954 50.0229446 63.7149918 39.4866157 49.3056013"></polyline>
                            <polyline id="Path-13" points="54.1094646 94.7883031 66.1228489 81.3101318 54.7249044 62.2691516"></polyline>
                            <polyline id="Path-18" points="36.0893881 9.16515651 47.6104207 1.96046129 62.0857564 0.147034596 77.6931166 6.02841845 80.9918738 11.1256178"></polyline>
                            <path d="M31.6089866,86.946458 L43.2284895,31.4654036" id="Path-5"></path>
                            <polygon id="Path-6" points="43.3638862 31.3918863 69.5691193 23.9664478 73.6064042 14.4582105 68.7815488 13.1841021"></polygon>
                            <polyline id="Path-19" points="63.9317872 16.6638252 58.3436902 15.3896211 57.6790153 13.1350906 52.9524379 11.1991351"></polyline>
                            <polygon id="Path-3" points="1.28049937 49.0115321 5.80975143 42.9341021 4.33269598 71.1647446 0.0988550131 68.9102142"></polygon>
                            <path d="M59.4760994,54.1087315 L99.1601445,54.1087315" id="Path-14"></path>
                            <path d="M69.1754302,38.1799835 L81.2380497,54.1087315" id="Path-15"></path>
                            <path d="M66.0243786,81.3101318 L82.3212237,78.0263591" id="Path-16"></path>
                            <path d="M36.1386233,9.11614498 L68.7817411,13.1350906" id="Path-17"></path>
                            <polyline id="Path-7" points="68.8307839 13.1350906 80.9916815 11.1254263 88.6723698 13.4779799 92.9558306 21.221802 89.6572658 22.104201 83.5519109 15.6834988 73.5079339 14.4582105"></polyline>
                        </g>
                        <path d="M51.4382261,114.804829 L99.2564229,86.5925881 L99.2564229,16.7808342 L51.4382261,3.78833039 L3.62002929,16.7808342 L3.62002929,86.5925881 L51.4382261,114.804829 Z M51.4438982,118.858777 L51.3998485,118.964423 L0,88.6455556 L0,14.0292499 L51.3998485,0.0635887889 L51.4019738,0.0713387164 L102.876452,14.0292499 L102.876452,88.6455556 L51.4766037,118.936565 L51.4438982,118.858777 Z" id="Combined-Shape" fill="url(#linearGradient-1)" fill-rule="nonzero"></path>
                    </g>
                </g>
                <path d="M94.1204834,39.5379639 L95.1204834,39.5379639 C95.1204834,39.7697244 94.2078986,42.911953 91.9149248,50.6465101 L91.3416839,50.4293213 L90.3371582,39.9705811 L91.3416839,40.2905165 L91.9149248,47.0993652 C93.3862757,42.1169076 94.1204834,39.5940587 94.1204834,39.5379639 Z" id="Path-26" fill="#FFFFFF" fill-rule="nonzero"></path>
                <polygon id="Path-27" stroke="#FFFFFF" points="37.2045898 27.6030273 8.02050781 59.947998 44.7133789 49.4140625"></polygon>
            </g>
        </g>
    </g>
</svg>